.content {
  min-height: 90vh;
}

.btn, .form-control {
  border-radius: 0;
}

@media (max-width: 425px) {
  h1 {
    font-size: 28px;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .app-logo {
    animation: App-logo-spin infinite 10s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
